@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');


/*
*   font-family: 'Raleway', sans-serif;
*/
html{
    max-height: 100%;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #F8F5EF;
}

.wrapper_logo_img{
    max-width: 15%;
    min-width: 15%;
}

.logo_img{
    min-width: 100%;
    max-width: 100%;

}

.header_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1%;
    padding-right: 10%;
}
.header_flex ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    position: relative;
}
.header_flex li {
    margin-left: 22px;
    margin-right: 22px;

}
.header_flex li a {
    font-size: 18px;
    color: #030303;
    font-weight: 600;
    text-decoration: none;
    white-space: nowrap;
}
.header_flex li:hover {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}


.header_menu_text{
    margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

/*
*               SECTION 1 index
*/

.section1.header_background_foto_index{
    background-image: url("../img/header_background_foto.jpg");
    background-size: 100%;
    height: calc(70vh);
    background-position: 50% 50%;
}

.header_foreground_text{
    background: rgba(26, 36, 39, 0.32);
    height: calc(70vh);
    width: 50%;
    margin-left: auto;
}
.header_foreground_text h1{
    font-size: 76px;
    font-weight: 900;
    line-height: 83px;
    color: #FFFFFF;
    margin-left: 105px;
    margin-top: 70px;
}
.header_foreground_text h1 span{
    color: #BDDE00;
}
.header_green_line{
    width: 136px;
    height: 10px;
    background-color: #BDDE00;
    margin-left: 105px;
    position: relative;
    top: 60px;
}
.Do_eshopu{
    margin-top: 190px;
    margin-left: 105px;
    width: 256px;
    height: 58px;
    background: #BDDE00;
    border-radius: 7px;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}
.header_foreground_text p{
    color: #FFFFFF;
    margin-left: 105px;
    margin-top: 210px;
}

/*
*              section2
*/

.Kdo_jsme h1{
    color: #BC9B5D;
    font-size: 40px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
    font-weight: 600;
}
.Kdo_jsme_paragraph_one{
    padding-bottom: 30px;
    font-size: 18px; 
    line-height: 23px;
    font-family:'Poppins';
    font-weight: 400;
}
.Kdo_jsme_paragraph_two{
    padding-bottom: 50px;
    font-size: 18px;
    line-height: 23px;
}


/*
*              section3
*/
.folder_wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
    row-gap: 45px;
    column-gap: 50px;
    align-items: normal;
}
.item_wrapper{
    width: 30%;

}
.item_wrapper_background{
    background-color: rgba(189, 222, 0, 0.55);
    border-radius: 20px 20px 20px 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.item_wrapper_foto{
    height: 200px;
    overflow: hidden;
}
.item_wrapper_foto img{
    object-position: 50% 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
}
.item_wrapper_content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item_wrapper h2{
    color: #BC9B5D;
    font-size: 40px;
    text-align: center;
    margin: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 600;
    
}
.item_wrapper_background p{
    margin: 0px;
    margin-left: 12px;
    margin-right: 12px;
    text-align: center;
    font-size: 18px;
    line-height: 26px;
}
.item_wrapper_background a h3{
    color: #BC9B5D;
    font-size: 15px;
    text-align: center;
    margin: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/*
*              APLIKACE
*/

/*
*             Section4
*/
.section4{
    padding-top: 50px;
}
.swiper-pagination-bullet-active{
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background-color: #BDDE00;
}
.swiper {
    height: 800px;
    z-index: 0;
}
.controls{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 425px;
    z-index: 10;
}
.prev img{
    width: 50px;
}
.next img{
    width: 50px;
    
}


/*
*** swiper slide 1
*/
.swiper-slide_uvod_foto{
    background-image: url("../img/swiper-slide_uvod_foto.png");
    height: 100%;
}
/*
*** swiper slide 2
*/
.slide_celek2{
    display: flex;
    justify-content: space-between;
}
.slide_celek2 img{
    width: 65%;
    position: relative;
    right: 210px;
}
.slide_celek2 h1{
    white-space: nowrap;
    font-size: 65px;
    line-height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.slide_celek2 h1 span{
    color: #BDDE00;
}
.slide2_text{
    position: relative;
    right: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.slide2_text h2{
    white-space: nowrap;
    font-size: 28px;
    color: #BDDE00;
}
.slide2_text p{
    white-space: nowrap;
    font-size: 20px;
}
.slide2_text1{
    margin-bottom: 30px;
}

/*
*** swiper slide 3
*/
.slide_celek3 img{
    width: 50%;
}


/*
*** swiper slide 4
*/
.slide_celek4 img{
    width: 50%;
}



/*
*             Section5
*/
.wrapper_kontakt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.zakaznicka_podpora h2{

}
.zakaznicka_podpora p{

}
.obchodni_spoluprace h2{

}
.obchodni_spoluprace p{

}
.PressProjekt{

}
.sidlo{
    display: flex;
    justify-content: center;
}
.sidlo p{
    text-align: center;
}
.wrapper_soc{
    display: flex;
    justify-content: space-around;
}
.wrapper_soc{
    display: flex;
    margin-top: 50px;
}
.item_soc{
    width: 20%;
}
.item_soc a{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.item_soc img{
    width: 30%;
    margin-bottom: 10px;
}



/*
*              footer
*/

.footer p{
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
}
